<div class="d-flex flex-column flex-root" id="kt_app_root" style="height: 100vh !important;">

  <div class="d-flex flex-column flex-lg-row flex-column-fluid">

    <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover  bgi-position-center" style="background: #000000;">


      <div class="d-flex flex-column flex-center p-6 p-lg-10 w-100">

        <a href="/../demo1/index.html" class="mb-0 mb-lg-20">
          <img alt="Logo" src="assets/img/ceramic_pro_elite_white.png" class="h-100px h-lg-100px" />
        </a>



        <img class="d-none d-lg-block mx-auto w-300px w-lg-75 w-xl-500px mb-10 mb-lg-20"
          src="assets/img/clear_bra_full_car.png" alt="" />



        <h1 class="d-none d-lg-block text-white fs-2qx fw-bold text-center mb-7">
          PROTEGE Y RENUEVA TU VEHÍCULO
        </h1>



        <div class="d-none d-lg-block text-white fs-base text-center">
          Ceramic Pro Esmeralda ha establecido el estándar para los servicios de protección de automóviles y auto
          detallado en Esmeralda durante más de 10 años.
        </div>

      </div>

    </div>



    <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10">

      <div class="d-flex flex-center flex-column flex-lg-row-fluid">

        <div class="w-lg-500px p-10">


          <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" [formGroup]="login" (ngSubmit)="evtValidLogin()">

            <div class="text-center mb-11">

              <h1 class="text-gray-900 fw-bolder mb-3">
                Iniciar Sesión
              </h1>



              <div class="text-gray-500 fw-semibold fs-6">
                Sistema Administrativo Elite Dealer (SAED)
              </div>

            </div>

            <div class="alert alert-danger" role="alert" *ngIf="isError">
              {{ message }}
            </div>

            <div class="fv-row mb-8">
              <label for="email" class="required form-label">Correo Electrónico</label>
              <input type="email" placeholder="Escribe Aquí" name="email" autocomplete="off"
                class="form-control bg-transparent" formControlName="acUser" [class.is-invalid]="isValidUser"/>
              <small *ngIf="isValidUser" class="text-danger">Por favor escribe el correo electrónico</small>
            </div>


            <div class="fv-row mb-3">
              <label for="password" class="required form-label">Contraseña</label>
              <input type="password" placeholder="Escribe aquí" name="password" autocomplete="off"
                class="form-control bg-transparent" formControlName="acPassword" [class.is-invalid]="isValidPassword"/>
              <small *ngIf="isValidPassword" class="text-danger">Por favor escribe tu contraseña.</small>
            </div>



            <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
              <div></div>


              <a href="/../demo1/authentication/layouts/corporate/reset-password.html" class="link-brand">
                Olvide mi contraseña
              </a>

            </div>



            <div class="d-grid mb-10">
              <button type="submit" id="kt_sign_in_submit" class="btn btn-dark" [ngClass]="inLoading ? 'disabled' : ''">
                <span class="indicator-label" *ngIf="!inLoading">Ingresar</span>
                <span *ngIf="inLoading">
                  Validando Información <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex flex-center flex-wrap px-5">
        <div class="d-flex fw-semibold fs-base">
          <a href="#" class="px-5 text-muted" target="_blank">Terminos</a>
          <a href="#" class="px-5 text-muted" target="_blank">Politicas</a>
          <a href="#" class="px-5 text-muted" target="_blank">Soporte</a>
        </div>
      </div>
    </div>

  </div>
</div>